.counter {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-big);
  line-height: 18px;
  text-align: center;
  color: var(--fourth-color);
  margin-bottom: 25px;
}

.counter--loading {
  animation: fade 1s infinite;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}