.list-container {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.list-container ul {
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  display: grid;
  grid-template-rows: auto;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

@media (min-width: 600px) {
  .list-container ul {
    width: 400px;
  }
}